# IDE files
# .vscode/
# compiled/test python files
__pycache__/
*.pyc
.ipynb_checkpoints
.ruff_cache/

# environment files
.env.claude
.venv
poetry.lock
.env

# other
.DS_Store
.env

# ignore generated docs (before PR)
docs/*

# private docs (JNS) - evaluation document for myself
PRIVATE_*
scripts/sanitize-docs.sh